@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700;900&display=swap');

html {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('./assets/bg.png');
    background-position: 'center';
    background-size: 'cover';
    background-repeat: 'no-repeat';
    background-color: black;
    font-family: 'Roboto', sans-serif;
}

#root {
    height: 100vh;
}


@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-zoom 8s ease infinite;
    }
}

@keyframes App-logo-zoom {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.05, 1.05);
    }

    100% {
        transform: scale(1, 1);
    }
}
